<h2>Habilidades</h2>
<form ng-submit="submitInsert()">

    <div style="padding: 10px; float: left; width: 45%; text-align: justify;">

        <h2>Destreza</h2>

        <p>
            <label>Blaster:</label>
            <input type="text" ng-model="hab1" autofocus="true"/>
        </p>

        <p>
            <label>Parar sin armas:</label>
            <input type="text" ng-model="hab2"/>
        </p>
        <p>
            <label>Esquivar:</label>
            <input type="text" ng-model="hab3"/>
        </p>
        <p>
            <label>Granada:</label>
            <input type="text" ng-model="hab4"/>
        </p>

        <p>
            <label>Armas pesadas:</label>
            <input type="text" ng-model="hab5"/>
        </p>

        <p>
            <label>Parar con armas:</label>
            <input type="text" ng-model="hab6"/>
        </p>

        <p>
            <label>Atacar con armas:</label>
            <input type="text" ng-model="hab7"/>
        </p>

        <h2>Conocimientos</h2>

        <p>
            <label>Razas alienigenas:</label>
            <input type="text" ng-model="hab8" autofocus="true"/>
        </p>

        <p>
            <label>Burocracia:</label>
            <input type="text" ng-model="hab9"/>
        </p>
        <p>
            <label>Culturas:</label>
            <input type="text" ng-model="hab10"/>
        </p>
        <p>
            <label>Lenguas:</label>
            <input type="text" ng-model="hab11"/>
        </p>

        <p>
            <label>Sistemas planetarios:</label>
            <input type="text" ng-model="hab12"/>
        </p>

        <p>
            <label>Bajos fondos:</label>
            <input type="text" ng-model="hab13"/>
        </p>

        <p>
            <label>Supervivencia:</label>
            <input type="text" ng-model="hab14"/>
        </p>
        <p>
            <label>Tecnologia:</label>
            <input type="text" ng-model="hab15"/>
        </p>

        <h2>Mecanica</h2>
        <p>
            <label>Astrogracion:</label>
            <input type="text" ng-model="hab16"/>
        </p>
        <p>
            <label>Cabalgar:</label>
            <input type="text" ng-model="hab17"/>
        </p>
        <p>
            <label>Manejar repulsores:</label>
            <input type="text" ng-model="hab18"/>
        </p>
        <p>
            <label>Artilleria naval:</label>
            <input type="text" ng-model="hab19"/>
        </p>
        <p>
            <label>Pilotaje naval:</label>
            <input type="text" ng-model="hab20"/>
        </p>

        <p>
            <label>Ecudos navales:</label>
            <input type="text" ng-model="hab21"/>
        </p>

        <h2>Otros</h2>

        <p>
            <label>Puntos de fuerza:</label>
            <input type="text" ng-model="hab22"/>
        </p>
        <p>
            <label>Puntos del lado oscuro:</label>
            <input type="text" ng-model="hab23"/>
        </p>
        <p>
            <label>Estado de salud:</label>
            <input type="text" ng-model="hab24"/>
        </p>
        <p>
            <label>Puntos de habilidad:</label>
            <input type="text" ng-model="hab25"/>
        </p>

        <input type="submit" class="btn"/>
    </div>
    <div style="padding: 10px; float: right; width: 45%; text-align: justify;">
        <h2>Percepción</h2>

        <p>
            <label>Negociar:</label>
            <input type="text" ng-model="hab26" autofocus="true"/>
        </p>

        <p>
            <label>Mando:</label>
            <input type="text" ng-model="hab27"/>
        </p>
        <p>
            <label>Timar:</label>
            <input type="text" ng-model="hab28"/>
        </p>
        <p>
            <label>Jugar:</label>
            <input type="text" ng-model="hab29"/>
        </p>
        <p>
            <label>Esconderse/Furtivo:</label>
            <input type="text" ng-model="hab30"/>
        </p>
        <p>
            <label>Buscar:</label>
            <input type="text" ng-model="hab31"/>
        </p>

        <h2>Fortaleza</h2>

        <p>
            <label>Atacar sin armas:</label>
            <input type="text" ng-model="hab32" autofocus="true"/>
        </p>

        <p>
            <label>Escalar/Saltar:</label>
            <input type="text" ng-model="hab33"/>
        </p>
        <p>
            <label>Levantar:</label>
            <input type="text" ng-model="hab34"/>
        </p>
        <p>
            <label>Vigor:</label>
            <input type="text" ng-model="hab35"/>
        </p>
        <p>
            <label>Nadar:</label>
            <input type="text" ng-model="hab36"/>
        </p>

        <h2>Tenica</h2>
        <p>
            <label>Prog./Recomputadores:</label>
            <input type="text" ng-model="hab37"/>
        </p>

        <p>
            <label>Demolicion:</label>
            <input type="text" ng-model="hab38"/>
        </p>

        <p>
            <label>Prog./Rep.Droides:</label>
            <input type="text" ng-model="hab39"/>
        </p>

        <p>
            <label>Medicina:</label>
            <input type="text" ng-model="hab40"/>
        </p>

        <p>
            <label>Rep.repulsores:</label>
            <input type="text" ng-model="hab41"/>
        </p>

        <p>
            <label>Seguridad:</label>
            <input type="text" ng-model="hab42"/>
        </p>

        <p>
            <label>Rep.naves espaciales:</label>
            <input type="text" ng-model="hab43"/>
        </p>

        <h2>Jedi</h2>
    <p>
        <label> Sentir:</label>
        <input type="text" ng-model="hab44"/>

        <label>Controlar:</label>
        <input type="text" ng-model="hab45"/>
    </p>
        <p>
        <label>Alterar:</label>
        <input type="text" ng-model="hab46"/>
    </p>

    </div>
</form>
