<h2>Crear Personaje</h2>
<form ng-submit="submitInsert()">
  <p>
    <label>Tipo de Personaje:</label>
    <input type="text" ng-model="TIPODEPERSONAJE" autofocus="true" />
  </p>

  <p>
    <label>Nombre de Personaje:</label>
    <input type="text"  ng-model="nombredepersonaje" />
  </p>
  <p>
    <label>Nombre de Jugador:</label>
    <input type="text"  ng-model="nombredejugador" />
  </p>
  <p>
    <label>Altura:</label>
    <input type="text"  ng-model="Altura" />



    <label>Peso:</label>
    <input type="text"  ng-model="peso" />



    <label>Sexo:</label>
    <input type="text"  ng-model="Sexo" />



    <label>Edad:</label>
    <input type="text"  ng-model="Edad" />
  </p>
  <p>
    <label>Descripción Física:</label>
    <input  type="text" ng-model="descripcionfisica" />
  </p>
  <input type="submit" class="btn"/>
</form>
